@font-face {
  font-family: "Digital-7";
  src: url("fonts/Digital-7Italic.woff2") format("woff2"),
    url("fonts/Digital-7Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  background-color: #171c28;
  color: #bdc6c8;
  font-family: "Inconsolata", monospace;
}

.calc-header {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}

.history-header {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

#calc-form {
  margin: 1rem 2rem;
}

.display {
  display: flex;
  flex-flow: column nowrap;
  background-color: #627258;
  width: 19rem;
  box-shadow: inset 2px 1px 4px 2px black;
  margin: 0 0 1rem 0;
}

input,
input:focus {
  background-color: transparent;
  color: black;
  font-family: "Inconsolata", monospace;
  font-size: 32px;
  border: 0;
  outline: 0;
  width: 18rem;
  padding: 5px 2px 10px 10px;
}

#answer-value {
  text-align: right;
  color: black;
  font-family: "Digital-7", monospace;
  font-size: 48px;
  padding: 2px 10px 20px 10px;
}

input::placeholder {
  color: #3d4737;
}

.button-panel {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  grid-gap: 1rem;
}

.box {
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
}

.number-button {
  background-color: #d0d2d4;
  color: #353c3c;
}

.extra-button {
  background-color: #111317;
  color: #e0ebec;
}

.operator-button {
  background-color: #484976;
  color: #c7d1d9;
}
